@import './mixin';

/* 加载中容器 */
.loading {
    position: relative;
    &>.mu-loading-wrap {
        z-index: inherit;
    }
    .mu-circular-progress {
        display: flex;
        align-items: center;
        justify-content: center;
    }
}
.mu-load-more {
    min-height: px2rem(130px);
}
.mu-icon {
    display: flex;
    justify-content: center;
    align-items: center;
}
.mu-icon-button.mu-button-small {
    width: px2rem(32px);
    height: px2rem(32px);
}
.mu-raised-button {
    font-size: px2rem(14px);
    min-width: px2rem(88px);
    height: px2rem(36px);
}
.mu-flat-button.mu-button-small {
    min-width: auto;
    font-size: px2rem(13px);
    height: px2rem(28px);
    &.hover {
        background: none;
    }
}
.mu-flat-button.mu-button-small .mu-button-wrapper {
    padding: 0 px2rem(8px);
}
.mu-flat-button .mu-button-wrapper {
    padding: 0 px2rem(16px);
}
.mu-item {
    height: px2rem(48px);
    padding: 0 px2rem(16px);
}
.mu-list-two-line .mu-item,
.mu-list-two-line .mu-item.has-avatar {
    height: px2rem(72px);
}
.mu-item.has-avatar {
    height: px2rem(56px);
}
.mu-item-action {
    width: auto;
    min-width: auto;
    flex-shrink: 0;
}
.mu-item-title {
    height: px2rem(24px);
    line-height: px2rem(24px);
    font-size: px2rem(14px);
}
.mu-list-dense .mu-item-title {
    font-size: px2rem(14px);
}
.mu-item-sub-title {
    font-size: px2rem(14px);
}
.mu-checkbox {
    height: px2rem(24px);
    line-height: px2rem(24px);
}
.mu-checkbox-svg-icon {
    width: px2rem(24px);
    height: px2rem(24px);
}
.mu-dialog.wrap {
    overflow: hidden;
    .mu-dialog-body {
        display: flex;
        flex-direction: column;
        position: relative;
        padding: 0;
        .mu-appbar {
            width: 100%;
        }
        .container, .container-fluid {
            width: 100%;
            flex: 1 1 auto;
            padding: px2rem(16px);
        }
    }
}